$max-width: 120rem;
$main-side-padding: 10%;
$success-btn-color: #4CAE50;
$span-text-color: #286DBD;
$main-text-color: #63718E;
$header-color: #111563;
$header-font: 'Epilogue', sans-serif;
$paragraph-font: 'Open Sans', sans-serif;
@mixin success-box-shadow {
  box-shadow: 0 5px 10px rgba(76, 174, 80, 0.3);
}
@mixin primary-box-shadow {
  box-shadow: 0 2px 16px rgba(32, 108, 164, 0.16);
}
@mixin paragraph-middle {
  font-family: $paragraph-font;
  font-size: 1.125rem;
  color: #63718E;
}
@mixin paragraph-small {
  font-family: $paragraph-font;
  font-size: 1rem;
  color: #63718E;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;

  // -- header style start here --
  header {
    max-width: $max-width;
    height: 88px;
    display: flex;
    align-items: center;
    padding: 0 $main-side-padding;
    background-color: #fff;
    @include primary-box-shadow;
    p {
      color: $main-text-color;
      font-size: 15px;
      margin: 0 0.78125rem;
    }
    nav {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      input[type=search]{
        border: none;
        background-image: url("../img/icon/search-alt.png");
        background-repeat: no-repeat;
        background-position: right;
        outline: none;
        padding: 3px;
        margin-right: 1.390625rem;
        height:1.5625rem;
        width: 7.375rem;
        align-self: center;
        &::-ms-clear{
          display: none;
        }
        &:hover {
          border: 1px solid rgba(32, 108, 164, 0.16);
          @include primary-box-shadow;
          border-radius: 5px;
        }
      }
      img {
        height: 25px;
        align-self: center;
      }
      .nav {
        display: flex;
        flex-basis: 60%;
        .nav_item {
          list-style-type: none;
          font-size: 15px;
          color: $main-text-color;
          margin-right: 0.9375rem;
          align-self: center;
          &:hover {
            cursor: pointer;
          }
        }
      }
      input[type=button]{
        padding: 6px 1rem;
        height: 2.1875rem;
        width: 7.375rem;
        align-self: center;
        border-radius: 10px;
        margin-right: 0.9375rem;
        outline: none;
        &:hover {
          cursor: pointer;
        }
      }
      .success-btm {
        color: #ffffff;
        background-color: $success-btn-color;
        border: none;
        &:hover {
          @include success-box-shadow;
        }
      }
      .primary-btn {
        color: $main-text-color;
        border: 2px solid $main-text-color;
        background-color: #fff;
        &:hover {
          color: $success-btn-color;
          border: 2px solid $success-btn-color;
        }
      }
    }
  }
  // -- header style end here --

  // --pop-up style start here --
  .popup {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    border-radius: 5px;
    padding: 2rem;
    min-height:100%;
  }
  .popup-item{
    max-width: 63.4375rem;
    display: flex;
    position: absolute;
    top: 10%;
    left: 17%;
    background-color: rgba(0, 0, 0, 0.1);
    img {
      z-index: 1;
    }
    .popup_form {
      display: flex;
      flex-direction: column;
      margin: 10px 0 10px -15px;
      background-color: white;
      padding: 1.5625rem  1.5625rem 1.5625rem 4.0625rem ;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      img {
        margin-left: auto;
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
      h3 {
        font-size: 2.25rem;
        margin-bottom: 1.1875rem;
      }
      p {
        font-size: 1.125rem;
        line-height: 2.025rem;
      }
      form {
        margin-top: 2.5625rem;
        fieldset {
          border: none;
        }
        input{
          width: 14.6875rem;
          height: 3.125rem;
          color: #909090;
          border: none;
          box-shadow: 0 0 1px #052953;
          border-radius: 10px;
          margin-bottom: 0.5625rem;
          outline: none;
          padding: 0 1.25rem;
          font-size: 1.125rem;
        }
        input[type=submit]{
          width: 200px;
          color: #ffffff;
          background-color: $success-btn-color;
          &:hover {
            cursor: pointer;
            @include success-box-shadow;
          }
        }
      }

    }
  }
  // -- pop-up style end here --
  // -- article style start here --
  article {
    display: flex;
    flex-wrap: wrap;
    max-width:  $max-width;
    padding: 7.8125rem $main-side-padding;
    .promo {
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      .promo-info {
        flex-basis: 50%;
        margin-right: auto;
        padding-right: 1rem;
        h1 {
          color: $header-color;
          font-size: 2.625em;
          font-family: $header-font;
        }
        p {
          margin: 1.25em 0;
          line-height: 1.6875rem;
          @include paragraph-middle;
          span {
            color: $span-text-color;
          }
        }

        input {
          background-color: $success-btn-color;
          color: #fff;
          border-radius: 10px;
          width: 17.5rem;
          height: 3.3125em;
          outline: none;
          border: none;
          font-size: 1.25em;
          font-weight: 700;
          margin: 1.875rem 0 0 0;
          &:hover {
            @include success-box-shadow;
            cursor: pointer;
          }
        }
      }
      .promo-img {
        flex-basis: 50%;
        margin-left: auto;
        img  {
          width: 100%;
        }
      }

    }
    .requirements {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      padding-top: 8.6875rem;
      .requirements_note {
        flex-basis: 50%;
        img {
          width: 100%;
        }
        .requirements_note_item {
          background-color: #fff;
          width: 23.75rem;
          height: 17.5625rem;
          display: flex;
          @include primary-box-shadow;
          border-radius: 10px;
          flex-wrap: wrap;
          padding: 1.8125rem 1.75rem 2.375em;
          position: relative;
          top: -200px;
          left: 150px;
          img {
            flex-basis: 10%;
            max-width: 60px;
            height: 60px;
          }
          h4 {
            flex-basis: 60%;
            font-family: $header-font;
            color: $header-color;
            font-size: 1.125rem;
            margin-top: 20px;
            margin-left: 1rem;
          }
          p {
            flex-basis: 100%;
            @include paragraph-small;
          }
        }
      }
      .requirements_info {
        padding-top: 5.53125rem;;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        h2 {
          color: $header-color;
          font-family: $header-font;
        }
        p{
          margin: 1.25em 0;
          line-height: 1.6875rem;
          @include paragraph-middle;
        }
      }
    }
    .calc {
      width: 85%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      @include primary-box-shadow;
      margin: 0 auto 6.25rem;
      padding: 3.6875rem;
      h2 {
        text-align: center;
        color:  $header-color;
        font-family:  $header-font;
        font-size: 2rem;
      }
      p {
        text-align: center;
        @include paragraph-middle;
      }
      form {
        flex-basis: 100%;
        margin: 1.5625rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        #workType, #academicLevel, .counter, .calendar, .summ {
          flex-basis: 17%;
          text-align: center;
          background-color: #F9FAFC;
          @include primary-box-shadow;
          @include paragraph-small;
          height: 3.125rem;
          border-radius: 10px;
          border: none;
          align-self: center;
          outline: none;
        }
        #paperType, #subj {
          flex-basis: 37.7%;
          text-align: center;
          margin-top: 1rem;
          border-radius: 10px;
          background-color: #F9FAFC;
          @include primary-box-shadow;
          @include paragraph-small;
          height: 3.125rem;
          border: none;
          outline: none;
        }
        .counter {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          p {
            margin: .3rem;
            &:hover {
              cursor: pointer;
            }
          }
          input{
            flex-basis: 30%;
            max-width: 100px;
            text-align: center;
            outline: none;
            border: none;

          }
        }
        select {
          padding:  0 .5rem;
          option {
            @include paragraph-small;
            background-color: #f9fafc;
            outline: none;
            border: none;
            @include primary-box-shadow;
            border-radius: 6px;
            padding: 0 .03rem;
            .hover-color:hover {
              background-color: #e1fae2;
            }
          }
        }
        input[type=submit] {
          flex-basis: 19%;
          margin-top: 1rem;
          border-radius: 10px;
          border: none;
          height: 3.125rem;
          outline: none;
          background-color:  $success-btn-color;
          @include success-box-shadow;
          color: #fff;
          &:hover{
            cursor: pointer;
          }
        }

      }
    }
    .step {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      .step_info_visability  {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        .step_info_visability_item {
          display: flex;
          flex-direction: column;
          flex-basis: 25%;
          justify-content: center;
          text-align: center;
          .step-circle {
            width: 2.5rem;
            height: 2.5rem;
            margin: 1rem auto;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            font-family:  $header-font;
            &:hover {
              cursor: pointer;
            }
          }
          p {
            color: #BAD9E7;
            @include paragraph-middle;
            align-self: end;
          }
        }
        .step2::before, .step3::before, .step4::before {
          content: '';
          position: relative;
          top:35%;
          left: -50%;
          width: 100%;
          height: 4px;
          background-color: #e8f8ff;
          z-index: -1;
          &:hover {
            background-color:  $success-btn-color;
          }
        }
        .active-step {
          background-color: #E5FFF0;
          color: $success-btn-color;
        }
        .default-step {
          background-color: #E8F8FF;
          color: #BAD9E7;

        }
      }
      .step_nav {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        padding: 3rem 0;
        h4, h2 {
          flex-basis: 100%;
        }
        .step_nav_item {
          flex-basis: 50%;
          font-family: $header-font;
          font-size: 1.375rem;
          color:  $main-text-color;
          padding-top: 2rem;
          padding-left: 2rem;
          h4 {
            &::before {
              content: '-';
              position: relative;
              left: -2rem;
            }
            &:hover {
              color:  $success-btn-color;
              cursor: pointer;


            }
            &:hover::before {
              content: '—';

            }

          }
        }
        .step_nav_item_text {
          padding-top: 2rem;
          flex-basis: 50%;
          margin-left: auto;
          @include paragraph-middle;
          line-height: 1.6875rem;
          p{
            padding-top: 1rem;
          }
          span {
            color:  $success-btn-color;
          }
        }
      }
    }
    .carousel {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h2 {
        font-family:  $header-font;
        font-size: 2rem;
        color:  $header-color;
        margin-bottom: 1rem;
      }
      p {
        @include paragraph-middle;
      }
      .carousel_slick {
        flex-basis: 100%;
        justify-content: space-around;
        .slick-dots li button::before {
          color: #286DBD;
          font-size: 1rem;
        }
        .carousel_slick_item {
          display: flex;
          flex-basis: 30%;
          flex-wrap: wrap;
          width: 23.75rem;
          height: 31.25rem;
          padding: 0 1%;
          margin: 1rem;
          @include primary-box-shadow;
          .carousel_slick_item_rate {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              margin-left: auto;
              @include paragraph-small;
              margin-right: 0.625rem;
              align-self: center;
            }
          }
          p {
            @include paragraph-middle;
            text-align: left;
          }
          .carousel_slick_item_user {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            img {
              width: 24px;
              height: 24px;
            }
            p {
              @include paragraph-small;
              line-height: 1rem;
              &:nth-child(3) {
                margin: -1.9375rem 0 1.9375rem;
              }
            }
          }

        }
      }
    }
    .authors {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-top: 6.25rem;
      .authors_text {
        flex-basis: 50%;
        padding: 4.5rem 0;
        h2 {
          font-family:  $header-font;
          color:  $header-color;
          font-size: 2rem;
        }
        p {
          @include paragraph-middle;
          line-height: 1.6875rem;
          margin-top: 1rem;
        }
      }
      .authors_img {
        flex-basis: 50%;
        img {
          width: 100%;
        }
      }
      .authors_nav {
        flex-basis: 100%;
        display: flex;
        padding: 1rem 8%;
        flex-wrap: wrap;
        .authors_nav_item {
          flex-basis: 40%;
          font-family: $header-font;
          font-size: 1.375rem;
          color:  $main-text-color;
          h4 {
            &::before {
              content: '-';
              position: relative;
              left: -2rem;
            }
            &:hover {
              color:  $success-btn-color;
              cursor: pointer;

            }
            &:hover::before {
              content: '—';
            }

          }
        }
        .author_nav_item_text {
          flex-basis: 50%;
          margin-left: auto;
          @include paragraph-middle;
          line-height: 1.6875rem;

        }
      }

    }
    .advantages {
      width: 100%;
      display: flex;
      margin-top: 2rem;
      .advantages-img {
        flex-basis: 50%;
        img {
          width: 100%;
        }
      }
      .advantages_info {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 7.25rem;
        padding: 0 1rem;
        h2 {
          color:  $header-color;
          font-family:  $header-font;
          font-size: 2rem;
          margin-bottom: 1.25rem;
        }
        li {
          @include paragraph-middle;
          margin: 1.25rem 0;
          line-height: 1.6875rem;
          list-style-type: none;
          &:before {
            content: '•';
            color: $header-color;
            font-size: 30px;
            position: relative;
            left: -3%;
            top: 0.3rem;
          }
        }
      }
    }
    .mistakes {
      width: 100%;
      display: flex;
      padding-top: 7.5rem;
      flex-wrap: wrap;
      .mistakes_info {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        h2 {
          color:  $header-color;
          font-family:  $header-font;
          font-size: 2rem;
        }
        p {
          @include paragraph-middle;
          line-height:  1.6875rem;
          margin-top: 20px;
        }
      }
      .mistakes_img {
        flex-basis: 50%;
        img {
          width: 100%;
        }
      }
      .mistakes_note {
        flex-basis: 100%;
        padding-top: 3.875rem;
        display: flex;
        .mistakes_note_item {
          background-image: url("../img/bg.svg");
          background-repeat: no-repeat;
          background-position: center;
          flex-basis: 50%;
          justify-content: center;
          padding: 2rem;
          .note_item {
            width: 23.75rem;
            @include primary-box-shadow;
            margin: 0 auto;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            padding: 1.8125rem 1.75rem 2.375em;
            background-color: #ffffff;
            img {
              flex-basis: 10%;
              max-width: 60px;
              height: 60px;
            }
            h4 {
              flex-basis: 60%;
              font-family: $header-font;
              color: $header-color;
              font-size: 1.125rem;
              margin-top: 20px;
              margin-left: 1rem;
            }
            p {
              flex-basis: 100%;
              @include paragraph-small;
              margin-top: 2rem;
            }
          }
        }
        p {
          flex-basis: 50%;
          @include paragraph-middle;
          margin-top: 2rem;
          line-height: 1.6875em;
        }
      }
    }
    .faq {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      padding-top: 12.5rem;
      h2 {
        flex: 100%;
        margin-bottom: 0.625rem;
      }
      .faq_item {
        flex-basis: 80%;
        @include primary-box-shadow;
        border-radius: 10px;
        margin-top: 1.25rem;
        padding: 1.25rem;
        text-align: left;
        img {
          position: relative;
          top: -18%;
          left: 97%;
          &:hover {
            cursor: pointer;
          }
        }
        h3 {
          font-size: 1.375rem;
          font-family:  $header-font;
          color:  $header-color;
        }
        p {
          @include  paragraph-middle;
          line-height: 1.6875rem;
          margin-top: 0.625rem;
        }
      }
      input {
        flex-basis: 50%;
        background-color: $success-btn-color;
        color: #fff;
        margin: 3.5rem 0;
        height: 3.875rem;
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: 1.25rem;
        font-weight: 400;
        &:hover{
          @include success-box-shadow;
          cursor: pointer;
        }
      }
    }
  }
  footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width:  $max-width;
    padding: 7.8125rem $main-side-padding;
    background-color: #1C1E1F;
    justify-content: space-around;
    .contact_info, .company_info, .services_info, .legal_info {
      flex-basis: 25%;
      color: #7E8183;
      font-size: 1rem;
    }
    .contact_info {
      .rate_info {
        margin: 3.125rem 0;
      }
      .another_info {
        background-color: #1C1E1F;
        border: 2px solid #7E8183;
        color: #7E8183;
        font-family:  $paragraph-font;
        font-size: 1rem;
        border-radius: 10px;
        text-align: center;
        outline: none;
        padding:  0 0.5rem;
      }
    }
    .company_info, .services_info {
      ul {
        width: 100%;
        li {
          list-style-type: none;
          margin-bottom: 1rem;
        }
      }
    }
    .company_info {
      .company_info_list_item {
        margin-left: 2rem;
      }
    }
    .legal_info {
      .legal_info_social{
        display: flex;
        flex-wrap: wrap;
        p {
          flex-basis: 100%;
          margin-bottom: 0.5rem;
        }
        .legal_info_social_icon{
          width: 1.75rem;
          height: 1.75rem;
          border-radius: 5px;
          background-position: center;
          background-size: contain;
          box-shadow: inset 0 0 0 999px rgba(28, 30, 31, 0.8);
          border: none;
          margin-right: 0.625rem;

          &:hover {
            box-shadow: none;
            cursor: pointer;
          }
        }
        .fb {
          background-image: url("../img/icon/logos-facebook.png");
        }
        .inst {
          background-image: url("../img/icon/logos-instagram.png");
        }
        .ytb {
          background-image: url("../img/icon/logos-youtube.png");
        }
        .pin {
          background-image: url("../img/icon/logos-pinterest.png");
        }
      }
      .legal_info_social_payment {
        padding: 2rem 0;
        p {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}


@media all and  (max-width: 770px){

body {
  header {
    .no-mobile {
      display: none;
    } }
  article {
    .no-mobile {
      display: none;
    }
    .promo {
      .promo-info {
        flex-basis: 100%;
      }
    }
    .requirements {
      padding-top: 1rem;
      .requirements_info {
        order: 1;
        flex-basis: 100%;
      }
      .requirements_note {
        order: 2;
        flex-basis: 100%;
        margin-top: 3rem;
        .mobile {
          margin-left: -8.5rem;
        }
      }
    }
    .calc {
      width: 100%;
      form {
        #workType, #academicLevel, .counter, .calendar {
          flex-basis: 47%;
          margin-top: 1rem;
        }
        #paperType, #subj {
          flex-basis: 100%;
          margin-top: 1rem;
        }
        .summ {
          order: 7;
          margin: 1rem  auto 0;
          flex-basis: 100%;
          box-shadow: none;
          color: $success-btn-color;
          background-color: #fff;
        }
        input[type=submit] {
          margin:  1rem  auto 0;
          flex-basis: 40%;
          order: 8;
        }
      }
    }
    .step {
      .step_info{
        .step_info_visability {
          .step2::before, .step3::before, .step4::before {


            top:25%;
            left: -50%;

            }
          .step_info_visability_item {
            p{
              font-size: 16px;
            }
          }
        }
      }
      .step_nav {
        .step_nav_item {
          display: flex;
          flex-basis: 100%;
          justify-content: center;
          padding-left: 0;
          h4 {
            font-size: 12px;
            &:hover::before {
              content: '';

            }
          }
          h4::before {
            content: '';
          }
        }
        .step_nav_item_text {
          flex-basis: 100%;
        }

      }
    }
    .authors {
      padding-top: 1rem;
      .authors_text, .authors_img {
        flex-basis: 100%;
      }
      .authors_nav {
        padding: 1rem 0;
          .authors_nav_item {
            flex-basis: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            h4 {
              font-size: 16px;
              &:hover::before {
                content: '';

              }
              &::before {
                content:'';
              }
            }
            br {
              display: none;
            }
          }
        .author_nav_item_text {
          flex-basis: 100%;
          margin-top: 1rem;
        }
      }
    }
    .advantages {
      flex-wrap: wrap;
      .advantages_info {
        flex-basis: 100%;
      }
      .advantages-img {
        flex-basis: 70%;
      }
    }
    .mistakes {
      .mistakes_img {
        order: 1;
        flex-basis: 70%;
      }
      .mistakes_info {
        order: 3;
        flex-basis: 100%;
        margin-top: 1rem;
      }
      .mistakes_note {
        order: 3;
        display: flex;
        flex-wrap: wrap;
        .mistakes_note_item {
          order:1;
        }
        p {
          order: 2;
          flex-basis: 100%;
        }
      }
    }
    .faq {
      padding-top: 3rem;
    }

  }

  footer {
    .contact_info, .company_info, .services_info, .legal_info {
      flex-basis: 50%;
    }
    .company_info {
      order:1;
      margin-bottom: 3.75rem;
      .company_info_list_item {
        margin-left: 0;

      }
    }
    .services_info {
      order: 2;
      margin-bottom: 3.75rem;
    }
    .contact_info {
      order: 3;
    }
    .legal_info {
      order: 4;
    }
  }
}


}
